
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.navbar {
    border-radius: 0;
    margin-top: 20px;
}

.navbar-right {
    margin-right: 90px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #F86A3A;
}

.content {
    color: #F86A3A;
    font-size: 20px;
}

.content-center {
    margin-top: 100px;
}

/* Signin Form */

.signin-title {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-left: 3px #F86A3A solid;
    font-family: 'Open Sans', sans-serif;
}

.qsi-input {
    border-radius: 0;
    padding: 30px;
    color: #F86A3A;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 0;
}

.form-group {
    margin-bottom: 0;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.signin-btn {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 10px;
}

/* Profile */
// .main-container {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     width: 100%;
// }

.main-profile {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.sidebar-icons {
    flex: 0 0 50px;
    background-color: rgba(161, 161, 161, 0.3);
}

.sidebar-icons > ul {
    padding: 0;
}

.sidebar-icons li {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.sidebar-icons i {
    color: #e8edec;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
}

.sidebar-icons i:hover {
    cursor: pointer;
    color: #F86A3A;
}

.sidebar-list{
    flex: 0 0 300px;
    background-color: rgba(87, 87, 87, 0.6);
}

.content-box{
    flex: 0 0 calc(100% - 350px);
    background-color: rgb(56, 56, 56);
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media (max-width: 750px) {
    .main-profile {
        flex-direction: column;
    }
}

.content-box::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9)
}

.message-input-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: stretch;
}

.message-box {
    flex: 0 0 calc(100% - 150px);
}

.message-list {
    padding: 20px;
}

.message-btn {
    flex: 0 0 150px;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Content-Box */

.message-list {
    flex: 0 0 calc(100% - 350px);
    height: 92%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}
.message-list::-webkit-scrollbar {
    width: 10px;
}
.message-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.9)
}
.message-list .friend {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
    max-width: 80%;
    height: auto;
}
.message-list .friend .avatar {
    left: 22px;
}
/*.friend .avatar {
    bottom: 36px;
}
.self .avatar {
    bottom: 36px;
}*/
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background: #F86A3A;
}

.avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.message-list .name {
    font-size: 16px;
    line-height: 36px;
    color: #F86A3A;
    font-weight: 700;
} 

.message-list .friend .avatar .status {
    right: 4px;
}
.message-list .avatar .status {
    bottom: 0;
}

.message-list .friend .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.message-list .text {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    position: relative;
}
.message-list .friend .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}
.message-list .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.message-list .friend .time {
    padding-left: 12px;
    color: #e8edec;
}
.message-list .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
/*SELF*/
.message-list .self {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
    max-width: 80%;
    height: auto;
}

.message-list .self .avatar {
    right: 22px;
}

.message-list .self .avatar .status {
    left: 4px;
}

.message-list .self .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.message-list .self .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}
.message-list .self .time {
    padding-right: 12px;
    color: #7266ba;
}
a.flipLink {
    text-decoration: none;
    color: #fff; 
}

a.flipLink:hover {
    text-decoration: none;
    color: #F86A3A;
}

/*friend*/
.friend-photo {
    width:50px;
    height: 50px;
    display: inline-block;
  }
  .friend-name {
    display: inline-block;
    text-transform: uppercase;
    margin: 0;
    padding-left: 30px; 
      
  }
  .friend-card {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 2px !important;
  }
  .button-friend {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    border-radius: 45px;
    margin: 0 20px;
      
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
  }
  .button-add:hover {
      text-decoration: none;
    background: #2EE59D;
    color: white;
  
  }
  .button-delete:hover {
      text-decoration: none;
    background: #DF0101;
    color: white;
  }
  .search-block-form{
     
      margin: 10px 0 10px 8px; 
      width:95%;
      height:35px;
      border-radius:15px;
      border:none;
      background:#2D3037;
      box-shadow:0px 1px 2px rgba(255,255,255,0.2);
      }
  .search-block-form input{
      padding:0;
      margin:0;
      display:block;
      border:none;
      outline:none;
      background:none;
      width:100%;
      height:100%;
      }
  .search-block-form i{
      font-size: 20px;
      margin: 7px 0 0 10px;
      color: #e8edec;
      }
  .search-block-form .form-actions input:hover{
      cursor:pointer;
      }
  .search-block-form .form-actions input{
      overflow:hidden;
      text-indent:-9999px;
      }
  .search-block-form .form-item{
      width:237px;
      padding:0px;
      float:right;
      height:28px;
      }
  .search-block-form .form-item input{
      font:20px "Trebuchet MS", Arial, Helvetica, sans-serif;
      color:#e8edec;
      height:auto !important;
      padding:6px 0;
      }
  .placeholder{color:#e8edec !important;}

  .btn-action__wrapp {
    display: inline-block;
    margin-left: 100px;
  }