
.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

.navbar-default {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.navbar {
    border-radius: 0;
    margin-top: 20px;
}

.navbar-right {
    margin-right: 90px;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #F86A3A;
}

.content {
    color: #F86A3A;
    font-size: 20px;
}

.content-center {
    margin-top: 100px;
}

/* Signin Form */

.signin-title {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-left: 3px #F86A3A solid;
    font-family: 'Open Sans', sans-serif;
}

.qsi-input {
    border-radius: 0;
    padding: 30px;
    color: #F86A3A;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
}

.form-control:focus {
    outline: 0;
    box-shadow: none;
    border: 0;
}

.form-group {
    margin-bottom: 0;
}

.btn-lg, .btn-group-lg > .btn {
    border-radius: 0;
}

.btn {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.signin-btn {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 10px;
}

/* Profile */

.main-profile {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sidebar-icons{
    width: 4%;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar-list{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
}

.content-box{
    width: 66%;
    background-color: rgba(0, 0, 0, 0.7);
}

.message-input-wrap {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.message-box {
    position: fixed;
    left: 34%;
    right: 150px;
    bottom: 0;
    height: 200px;
}

.message-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 104px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.3);
}